.hero {
  margin: auto;
  padding: 40px 0;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 42px;
    }
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }
    &-letter {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg {
        width: 100%;
        height: auto;
        fill: $white;
      }
    }
    &-info {
      max-width: 1134px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      .button {
        font-weight: 300;
        color: $white-3;
      }
    }
  }
  .letter {
    &-g {
      max-width: 180px;
      width: 100%;
    }
    &-e {
      max-width: 130px;
      width: 100%;
    }
    &-r {
      max-width: 161px;
      width: 100%;
    }
    &-a {
      max-width: 188px;
      width: 100%;
    }
    &-d {
      max-width: 167px;
      width: 100%;
    }
  }
  &--sm {
    .hero {
      &__inner {
        gap: 120px;
        &-row {
          gap: 7.5px;
        }
        &.menu {
          gap: 70px;
        }
      }
    }
    .letter {
      &-g {
        max-width: 82px !important;
      }
      &-e {
        max-width: 60px !important;
      }
      &-r {
        max-width: 74px !important;
      }
      &-a {
        max-width: 86px !important;
      }
      &-d {
        max-width: 77px !important;
      }
    }
  }
}
.header {
  width: 100%;
  padding: 32px 0;
  margin-bottom: auto;
  &__inner {
    display: flex;
    justify-content: space-between;
    &-link {
      color: $white;
      @include transition;
      font-weight: 800;
      &:hover {
        color: $primary;
      }
    }
  }
}
.footer {
  width: 100%;
  padding-bottom: 100px;
  margin-top: auto;
  &--copy {
    position: unset;
    background: $white-2;
    padding: 20px 0 !important;
    text-align: center;
    p {
      color: $black;
    }
  }
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
@mixin index-1160 {
  .hero {
    .letter {
      &-g {
        max-width: 170px;
      }
      &-e {
        max-width: 120px;
      }
      &-r {
        max-width: 150px;
      }
      &-a {
        max-width: 180px;
      }
      &-d {
        max-width: 155px;
      }
    }
  }
  .footer {
    padding-bottom: 70px;
  }
}
@mixin index-940 {
  .hero {
    .letter {
      &-g {
        max-width: 160px;
      }
      &-e {
        max-width: 110px;
      }
      &-r {
        max-width: 140px;
      }
      &-a {
        max-width: 170px;
      }
      &-d {
        max-width: 145px;
      }
    }
    &--sm {
      .hero {
        &__inner {
          gap: 90px;
          &.menu {
            gap: 55px;
          }
        }
      }
    }
  }
  .header {
    padding: 25px 0;
    &__inner {
      &-link {
        font-size: 22px;
      }
    }
  }
  .footer {
    padding-bottom: 50px;
  }
}
@mixin index-768{
  .hero{
    &--sm{
      .hero{
        &__inner{
          gap: 60px;
        }
      }
    }
  }

}
@mixin index-580 {
  .hero {
    &__inner {
      &-row {
        padding: 0 25px;
      }
    }
    .letter {
      &-g {
        max-width: 150px;
      }
      &-e {
        max-width: 100px;
      }
      &-r {
        max-width: 130px;
      }
      &-a {
        max-width: 160px;
      }
      &-d {
        max-width: 135px;
      }
    }
    &--sm {
      .hero {
        &__inner {
          gap: 45px;
          &.menu {
            gap: 45px;
          }
          &-row {
            padding: unset;
          }
        }
      }
    }
  }

  .footer {
    padding-bottom: 40px;
    &--copy {
      padding: 15px 0 !important;
    }
  }
}
@mixin index-460 {
  .header {
    padding: 20px 0;
    &__inner {
      &-link {
        font-size: 20px;
      }
    }
  }
  .hero {
    &--sm {
      .hero {
        &__inner {
          &-wrapper {
            gap: 30px;
          }
          gap: 35px;
          &-row {
            padding: unset;
          }
          &.menu {
            gap: 30px;
          }
        }
      }
    }
  }
  .socials {
    .button {
      width: calc(20% - 5px);
    }
  }
}

// Height
@mixin index-750 {
  .footer {
    padding-bottom: 30px;
  }
  .header {
    padding: 15px 0;
  }
}
