.hero {
  margin: auto;
  padding: 40px 0;
  position: relative;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 42px;
    }
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }
    &-letter {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg {
        width: 100%;
        height: auto;
        fill: $white;
      }
      &-wrapper {
        margin-left: 50px;
        display: flex;
        align-items: flex-end;
        gap: 7px;
        margin-top: auto;
      }
    }
    &-info {
      max-width: 1134px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      .button {
        font-weight: 300;
        color: $white-3;
      }
    }
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 50px;
      &-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
  .letter {
    &-g {
      max-width: 180px;
      width: 100%;
    }
    &-e {
      max-width: 130px;
      width: 100%;
    }
    &-r {
      max-width: 161px;
      width: 100%;
    }
    &-a {
      max-width: 188px;
      width: 100%;
    }
    &-d {
      max-width: 167px;
      width: 100%;
    }

    &-eSeccondary {
      max-width: 56px;
    }
    &-p {
      max-width: 67px;
    }
    &-h {
      max-width: 75px;
    }
    &-o {
      max-width: 80px;
    }
    &-b {
      max-width: 70px;
    }
    &-line {
      max-width: 412px;
      margin-left: 24px;
    }
    &-s {
      max-width: 68px;
    }
    &-l {
      max-width: 56px;
    }
    &-dSecondary {
      max-width: 72px;
    }
    &-n {
      max-width: 71px;
    }
    &-rSm {
      max-width: 24px;
    }
    &-eSm {
      max-width: 50px;
    }
    &-cSm {
      max-width: 48px;
    }
    &-oSm {
      max-width: 52px;
    }
    &-dSm {
      max-width: 49px;
    }
    &-sSm {
      max-width: 43px;
    }
  }
  &--sm {
    .hero {
      &__inner {
        gap: 60px;
        &-row {
          gap: 7.5px;
        }
        &.menu {
          gap: 70px;
        }
        &-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          gap: 40px;
          &-wrapper {
            display: flex;
            align-items: center;
            gap: 7px;
          }
        }
        &-letter {
          &-wrapper {
            margin-left: 25px;
            display: flex;
            align-items: flex-end;
            gap: 5px;
            margin-top: auto;
          }
        }
      }
    }
    .letter {
      &-g {
        max-width: 82px !important;
      }
      &-e {
        max-width: 60px !important;
      }
      &-r {
        max-width: 74px !important;
      }
      &-a {
        max-width: 86px !important;
      }
      &-d {
        max-width: 77px !important;
      }
      &-eSeccondary {
        max-width: 41px !important;
      }
      &-p {
        max-width: 48px !important;
      }
      &-h {
        max-width: 55px !important;
      }
      &-o {
        max-width: 62px !important;
      }
      &-b {
        max-width: 50px !important;
      }
      &-line {
        max-width: 308px !important;
        margin-left: 14px;
      }
      &-s {
        max-width: 51px !important;
      }
      &-l {
        max-width: 53px !important;
      }
      &-dSecondary {
        max-width: 54px !important;
      }
      &-n {
        max-width: 52px !important;
      }
      &-rSm {
        max-width: 18px !important;
      }
      &-eSm {
        max-width: 36px !important;
      }
      &-cSm {
        max-width: 35px !important;
      }
      &-oSm {
        max-width: 40px !important;
      }
      &-dSm {
        max-width: 37px !important;
      }
      &-sSm {
        max-width: 32px !important;
      }
    }
  }
  &--home {
    margin: auto auto 0;
  }
}
.header {
  width: 100%;
  padding: 32px 0;
  margin-bottom: auto;
  &__inner {
    display: flex;
    justify-content: space-between;
    &-link {
      color: $white;
      @include transition;
      font-weight: 800;
      &:hover {
        color: $primary;
      }
    }
  }
  &--home {
    .header {
      &__inner {
        &-link {
          color: $primary;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
.footer {
  width: 100%;
  padding-bottom: 100px;
  margin-top: auto;
  &--copy {
    position: unset;
    background: $white-2;
    padding: 20px 0 !important;
    text-align: center;
    p {
      color: $white;
    }
  }
  &--home {
    margin-top: 0;
    padding: 60px 0 100px;
  }
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
@mixin index-1160 {
  .hero {
    .letter {
      &-g {
        max-width: 170px;
      }
      &-e {
        max-width: 120px;
      }
      &-r {
        max-width: 150px;
      }
      &-a {
        max-width: 180px;
      }
      &-d {
        max-width: 155px;
      }
    }
  }
  .footer {
    padding-bottom: 70px;
  }
}
@mixin index-940 {
  .hero {
    &__inner {
      &-title {
        gap: 40px;
      }
    }
    .letter {
      &-g {
        max-width: 160px;
      }
      &-e {
        max-width: 110px;
      }
      &-r {
        max-width: 140px;
      }
      &-a {
        max-width: 170px;
      }
      &-d {
        max-width: 145px;
      }
    }
    &--sm {
      .hero {
        &__inner {
          gap: 90px;
          &.menu {
            gap: 55px;
          }
          &-title {
            gap: 40px;
          }
        }
      }
    }
  }
  .header {
    padding: 25px 0;
  }
  .footer {
    padding-bottom: 50px;
  }
}
@mixin index-768 {
  .hero {
    &__inner {
      &-title {
        gap: 30px;
      }
    }
    &--sm {
      .hero {
        &__inner {
          gap: 60px;
          &-title {
            gap: 30px;
          }
        }
      }
    }
  }
}
@mixin index-580 {
  .hero {
    &__inner {
      &-row {
        padding: 0 25px;
      }
      &-title {
        gap: 16px;
        &-wrapper {
          gap: 5px;
        }
      }
      &-letter {
        &-wrapper {
          margin-left: 9px;
          gap: 2px;
        }
      }
    }
    .letter {
      &-g {
        max-width: 150px;
      }
      &-e {
        max-width: 100px;
      }
      &-r {
        max-width: 130px;
      }
      &-a {
        max-width: 160px;
      }
      &-d {
        max-width: 135px;
      }
      &-line {
        margin-left: 11px;
      }
    }
    &--sm {
      .hero {
        &__inner {
          &-row {
            padding: unset;
          }
          &-title {
            gap: 16px;
            &-wrapper {
              gap: 4px;
            }
          }
          &-letter {
            &-wrapper {
              margin-left: 15px;
              gap: 3px;
            }
          }
        }
      }
      .letter {
        &-line {
          margin-left: 8px;
        }
      }
    }
  }

  .footer {
    padding-bottom: 40px;
    &--copy {
      padding: 15px 0 !important;
    }
    &--home {
      padding-top: 40px;
    }
  }
}
@mixin index-460 {
  .header {
    padding: 20px 0;
    &__inner {
    }
  }
  .hero {
    &__inner {
      gap: 50px;
      &-wrapper {
        gap: 30px;
      }
      &-title {
        &-wrapper {
          gap: 3px;
        }
      }

      &-row {
        padding: unset;
      }
      &.menu {
        gap: 50px;
      }
    }
    &--sm {
      .hero {
        &__inner {
          gap: 50px;
          &-wrapper {
            gap: 30px;
          }
          &-row {
            padding: unset;
          }
          &.menu {
            gap: 50px;
          }
        }
      }
    }
  }
  .socials {
    .button {
      width: calc(20% - 5px);
    }
  }
  .footer {
    padding-bottom: 30px;
    &--copy {
      padding: 10px 0 !important;
    }
    &--home {
      padding-top: 20px;
    }
  }
}

// Height
@mixin index-750 {
  .footer {
    padding-bottom: 30px;
  }
  .header {
    padding: 15px 0;
  }
}
