.hero {
  margin: auto;
  padding: 40px 0;
  position: relative;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    &-header {
      display: flex;
      flex-direction: column;
      font-size: 60px;
      gap: 0.7em;
      &-title {
        display: flex;
        align-items: baseline;
        justify-content: center;
        font-size: inherit;
        gap: 0.23em;
        ._lines {
          margin-left: 20px;
        }
        small {
          color: $primary;
          display: flex;
          align-items: baseline;
          gap: 4px;
          margin-left: 0.5em;
          font-size: 0.8em;
        }
      }
    }
    &-info {
      max-width: 1134px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      .button {
        font-weight: 300;
        color: $white-3;
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }
  &--sm {
    .hero {
      &__inner {
        gap: 70px;
        &-header {
          gap: 0.6em;
          &-title {
            gap: 0.1em;
          }
        }
        &.menu {
          .hero {
            &__inner {
              &-header {
                &-title {
                  gap: 0.15em;
                }
              }
            }
          }
        }
      }
    }
  }
  &--home {
    margin: auto auto 0;
    .hero {
      &__inner {
        &-header {
          gap: 0.6em;
          &-title {
            gap: 0.15em;
          }
        }
      }
    }
  }
}
.header {
  width: 100%;
  padding: 32px 0;
  margin-bottom: auto;
  &__inner {
    display: flex;
    justify-content: space-between;
    &-link {
      color: $white;
      @include transition;
      font-weight: 800;
      &:hover {
        color: $primary;
      }
    }
  }
  &--home {
    .header {
      &__inner {
        &-link {
          color: $primary;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
.footer {
  width: 100%;
  padding-bottom: 100px;
  margin-top: auto;
  &--copy {
    position: unset;
    background: $white-2;
    padding: 20px 0 !important;
    text-align: center;
    p {
      color: $white;
    }
  }
  &--home {
    margin-top: 0;
    padding: 60px 0 100px;
  }
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
@mixin index-1160 {
  .hero {
    &__inner {
      &-header {
        font-size: 55px;
      }
    }
  }
  .footer {
    padding-bottom: 70px;
  }
}
@mixin index-1025 {
  .hero {
    &__inner {
      &-header {
        font-size: 47px;
      }
    }
  }
}
@mixin index-940 {
  .hero {
    &__inner {
      &-header {
        font-size: 43px;
      }
    }

    &--sm {
      .hero {
        &__inner {
          gap: 90px;
          &.menu {
            gap: 55px;
          }
        }
      }
    }
  }
  .header {
    padding: 25px 0;
  }
  .footer {
    padding-bottom: 50px;
  }
}
@mixin index-768 {
  .hero {
    &__inner {
      &-header {
        font-size: 37px;
      }
    }
    &--sm {
      .hero {
        &__inner {
          gap: 60px;
          &-title {
            gap: 30px;
          }
        }
      }
    }
  }
}
@mixin index-650 {
  .hero {
    &--home {
      padding-top: 100px;
      .hero {
        &__inner {
          &-header {
            font-size: 6vw;
          }
        }
      }
    }
  }
}
@mixin index-580 {
  .hero {
    &__inner {
      &-wrapper {
        gap: 1.5em;
      }
      &-header {
        font-size: 7.5vw;
        gap: 0.5em;
      }
    }
    &--sm {
      .hero {
        &__inner {
          &-row {
            padding: unset;
          }
          &-title {
            gap: 16px;
            &-wrapper {
              gap: 4px;
            }
          }
          &-letter {
            &-wrapper {
              margin-left: 15px;
              gap: 3px;
            }
          }
        }
      }
      .letter {
        &-line {
          margin-left: 8px;
        }
      }
    }
  }

  .footer {
    padding-bottom: 40px;
    &--copy {
      padding: 15px 0 !important;
    }
    &--home {
      padding-top: 40px;
    }
  }
}
@mixin index-460 {
  .header {
    padding: 20px 0;
    &__inner {
    }
  }
  .hero {
    &__inner {
      gap: 50px;
      &-wrapper {
        gap: 30px;
      }
      &-title {
        &-wrapper {
          gap: 3px;
        }
      }

      &-row {
        padding: unset;
      }
      &.menu {
        gap: 50px;
      }
    }
    &--sm {
      .hero {
        &__inner {
          gap: 50px;
          &-wrapper {
            gap: 30px;
            width: 100%;
          }
          &-row {
            padding: unset;
          }
          &.menu {
            gap: 50px;
          }
        }
      }
    }
  }
  .socials {
    .button {
      width: calc(20% - 5px);
    }
  }
  .footer {
    padding-bottom: 30px;
    &--copy {
      padding: 10px 0 !important;
    }
    &--home {
      padding-top: 20px;
    }
  }
}
@mixin index-360 {
  .hero {
    &__inner {
      &-header {
        font-size: 7vw;
      }
    }
    &--home {
      .hero {
        &__inner {
          &-header {
            font-size: 5.5vw;
          }
        }
      }
    }
  }
}

// Height
@mixin index-750 {
  .footer {
    padding-bottom: 30px;
  }
  .header {
    padding: 15px 0;
  }
}
